.titleCarousel {
  color: rgba(0, 119, 179, 0.8);
  text-align: center;
  padding: 20px 0 30px 0;
}

.slider {
  position: relative;
  display: flex;
  width: 80%;
  max-height: 80%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 3px 5px 15px 5px rgba(33, 64, 68, 0.49);
  -moz-box-shadow: 3px 5px 15px 5px rgba(33, 64, 68, 0.49);
  -webkit-box-shadow: 3px 5px 15px 5px rgba(33, 64, 68, 0.49);
}

.arrowPrev {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  background: white;
  border-radius: 50%;
  padding: 10px 10px;
  opacity: 0.7;
  cursor: pointer;
}

.arrowNext {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  background: white;
  border-radius: 50%;
  padding: 10px 10px;
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 767px) {
  .slider {
    margin-top: 0;
    max-height: 40%;
  }
}